@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
    background-color: black;
}
.main2 {
    padding-top: 20px;
    background-color: white;
    margin: 0 auto;
    width: 682px;
    height: 626px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
h2 {
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}
p{
    margin-bottom: 0;
}
input{
    width: 190px;
    height: 50px;
    border-radius: 10px;
    margin-right: 4px;
    padding-left: 13px;
    border: 1px solid #AEAEAE;
    margin-top: 8px;
    font-size: 14px;

}
input::-webkit-input-placeholder {
    color: #DADADA;
}
.credite{
    text-align: left;
    padding-left: 20px;
}
.company{
    width: 400px;
    height: 50px;
}
.earn{
    margin-top: 8px;
    width: 295px;
    height: 50px;
}
.cell{
    width: 620px;
    height: 50px;
}
.type{
    display: flex;
    width: 100%;
    color: #DADADA;
    font-size: 14px;
}
.type-credit{
    display: flex;
    width: 203px;
    height: 52px;
    text-align: center;
    border: 1px solid #AEAEAE;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    margin-right: 13px;
}
.type1{
    margin-top: 8px;
}
.type-credit2{
    display: flex;
    width: 634px;
    height: 52px;
    text-align: center;
    border: 1px solid #AEAEAE;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    margin-right: 13px;
    margin-top: 8px;
    color: #DADADA;
    font-size: 14px;
}
.point{
    width: 505px;
    text-align-last: left;
}
button{
    margin-top: 45px;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 450px;
    height: 50px;
    border-radius: 6px;
    letter-spacing: 1.5px;
}
select{
    width: 207px;
    height: 54px;
    border-radius: 10px;
    margin-right: 4px;
    padding-left: 13px;
    border: 1px solid #AEAEAE;
    margin-top: 8px;
    font-size: 14px;
    color: #DADADA;
    font-family: 'Rubik', sans-serif;
}
.value1{
    color: black;
}
.value2{
    color: black;
}
.value3{
    color: black;
}
.value4{
    color: black;
}
.row6{
    width: 636px;
    height: 54px;
}
.row6:hover{
    cursor: pointer;
}
.color-choose{
    color: black;
}
.optgroup{
    color: black;
}